# Backend
BACKEND_PORT=8000
BACKEND_HOST=0.0.0.0
BACKEND_URL=http://api:8000 # sem docker compose no momento
GEMINI_API_KEY=AIzaSyA7uMyiDHxjwPI6T-yA4Va74Mt82d00u58
GEMINI_MODEL=gemini-2.5-flash


# Frontend
